<body>
    <header>
        <h1>Node</h1>
    </header>
    <main>
        <section class="teoria">
            <h2>Su creador fue: Ryan Lienhart Dahl y se lanzo en Mayo de 2009</h2>
            <p>Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor basado en el lenguaje de programación JavaScript, asíncrono.</p>
            <h2>Ventajas: </h2>
                <ul>
                    <li>Rendimiento y escalabilidad.</li>
                    <li>Facilidad de aprendizaje.</li>
                    <li>Programación asíncrona y manejo de errores.</li>
                </ul>
            <h2>Desventajas:</h2>
                <ul>
                    <li>Programación asíncrona y manejo de errores. El modelo de programación asíncrona de Node. js puede ser difícil de manejar para los desarrolladores acostumbrados a la programación síncrona. </li>
                    <li>Falta de soporte para la programación multihilo.</li>
                    <li>Madurez relativa y cambios en la API</li>
                </ul>
            
        </section>

        <section class="ejemplos">
            <h3>Este es el logo de node</h3>
                <section class="imgTest">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2560px-Node.js_logo.svg.png" alt="" width="300" id="img1">
